* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --adventages-cards-gap: 15px;
}
img {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

header {
  padding: 25px 0;
}
.section:not(:first-child) {
  padding-top: 50px;
}
.section:not(:last-child) {
  padding-bottom: 50px;
}
.logo {
  height: 100px;
  display: flex;
  justify-content: center;
}
.logo__a {
  height: 100%;
  display: block;
}
.logo__a img {
  height: 100%;
}

.section {
  display: flex;
  justify-content: center;
}

.container {
  width: 864px;
}

.hero__container {
  display: flex;
  justify-content: space-between;
}

.hero__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 70%;
}
.hero_title {
  color: #333;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
}

.hero__descr {
  color: #888;
  font-size: 20px;
  margin-bottom: 40px;
}

.contact__buttons--phone,
.contact__buttons--email {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.contact__buttons--phone > *:not(:last-child),
.contact__buttons--email > *:not(:last-child) {
  margin-right: 20px;
}

.contact__buttons-btn {
  border: none;
  display: block;
  /* width: calc((100% - 15px) / 2); */

  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: #f3f3f3;
  position: relative;
}

.contact__buttons-btn svg {
  height: 100%;
  fill: currentColor;
  color: #999;
  fill: #999;
}
.contact__buttons--phone {
  margin-bottom: 40px;
}
.contacts__telephone {
  /* padding: 20px 70px; */
}
.contacts__email {
  /* padding: 20px 24px; */
}
.contacts__telephone,
.contacts__email {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* background-color: #f0f0f0; */
  border: 3px solid #f0bf5f;
  /* max-width: max-content; */
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #555;
  position: relative;
}
.contacts__telephone::after,
.contacts__email::after {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;

  border-radius: 18px;
  border: 3px solid #fae8c5;
}

.st0 {
  stroke: #999;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.hero__swiper .swiper-button-next,
.hero__swiper .swiper-button-prev {
  top: 120%;
  color: #f0bf5f;
}

.hero__swiper {
  width: 240px;
  height: 320px;
}

.hero__swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__swiper .swiper-slide:nth-child(1n) {
  background-image: url(../img/hero_slide_1.jpg);
}

.hero__swiper .swiper-slide:nth-child(2n) {
  background-image: url(../img/hero_slide_2.jpg);}

.hero__swiper .swiper-slide:nth-child(3n) {
  background-image: url(../img/hero_slide_3.jpg);
}

.hero__swiper .swiper-slide:nth-child(4n) {
  background-image: url(../img/hero_slide_4.jpg);
}

.hero__swiper .swiper-slide:nth-child(5n) {
  background-image: url(../img/hero_slide_5.jpg);
}

.hero__swiper .swiper-slide:nth-child(6n) {
  background-image: url(../img/hero_slide_6.jpg);
}

.hero__swiper .swiper-slide:nth-child(7n) {
  background-image: url(../img/hero_slide_7.jpg);
}

.hero__swiper .swiper-slide:nth-child(8n) {
  background-image: url(../img/hero_slide_8.jpg);
}

.hero__swiper .swiper-slide:nth-child(9n) {
  background-image: url(../img/hero_slide_9.jpg);
}

.hero__swiper .swiper-slide:nth-child(10n) {
  background-image: url(../img/hero_slide_10.jpg);
}
.hero__swiper .swiper-slide:nth-child(11n) {
  background-image: url(../img/hero_slide_11.jpg);
}

.to-copy.copied .copy_icon {
  opacity: 0;
}

.to-copy.copied {
  background-image: none;
  background-color: #23c483;
  color: #d4fc79;
}

:root {
  --hue: 223;
  --bg1: hsl(var(--hue), 10%, 90%);
  --bg2: hsl(var(--hue), 10%, 80%);
  --fg1: hsl(var(--hue), 10%, 10%);
  --fg2: hsl(var(--hue), 10%, 20%);
  --primary1: hsl(var(--hue), 90%, 55%);
  --primary2: hsl(var(--hue), 90%, 45%);
  font-size: calc(20px + (40 - 20) * (100vw - 320px) / (1280 - 320));
}

/* Main button styles */
.test {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  transition: width 0.3s ease-in-out;
}
.copy_icon {
  width: 50px;
  height: 50px;
}
.test:not(:disabled):active {
  transform: translateY(0.1em);
}
.btn__text {
  background-color: var(--primary1);
  border-radius: inherit;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  padding: 0.75em 1.5em;
  transition: background-color 0.15s linear, color 0.15s 0.3s ease-in-out;
  width: 100%;
}
.test:not(:disabled):focus .btn__text,
.test:not(:disabled):hover .btn__text {
  background-color: var(--primary2);
}
.btn__progress {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.btn__progress-track {
  r: 12px;
  stroke: var(--bg2);
  stroke-width: 24;
}
.btn__progress-fill {
  stroke: var(--primary1);
  stroke-dashoffset: 125.66;
}
.btn__progress-check {
  stroke: hsl(0, 0%, 100%);
  stroke-dashoffset: 34;
}

/* Both states */
.btn--running,
.btn--done {
  outline: none;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.btn--running .btn__text,
.btn--done .btn__text {
  color: transparent;
  transition: background-color 0.3s ease-in-out, visibility 0.3s steps(1);
}
.btn--running .btn__progress,
.btn--done .btn__progress {
  visibility: visible;
}

/* Running state */
.btn--running .btn__text {
  background-color: var(--bg2);
  visibility: hidden;
}
.btn--running .btn__progress {
  transition: visibility 0.3s 0.3s steps(1, start);
}
.btn--running .btn__progress-track {
  r: 20px;
  stroke-width: 8;
  transition: r 0.3s 0.3s ease-in-out, stroke-width 0.3s 0.3s ease-in-out;
}
.btn--running .btn__progress-fill {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 2s 0.6s linear;
}

/* Done state */
.btn--done .btn__progress-track {
  stroke: transparent;
  transition: r 0.3s ease-in-out, stroke-width 0.3s ease-in-out;
}
.btn--done .btn__progress-check {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s 0.3s ease-out;
}

.adventages__wrapper {
  padding: 50px 70px;
  background-color: #f3f3f3;
  border-radius: 20px;
}
.section__title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
  color: #666;
}
.adventages__cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  gap: var(--adventages-cards-gap);
}
.adventages__card {
  width: calc((100% - (var(--adventages-cards-gap) * 2)) / 3);
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-height: 326.4px;
}

.doc_link {
  margin-top: auto;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  background-color: #f3f3f3;
  max-width: max-content;
  padding: 10px 20px;
  border-radius: 10px;
  color: #666;
  align-items: center;
}
.doc_link svg {
  height: 14px;
  fill: currentColor;
  margin-right: 5px;
}
.card__icon {
  display: flex;
  justify-content: flex-start;
}
.adventages__card svg:not(.doc_link svg) {
  width: 30%;
  margin-bottom: var(--adventages-cards-gap);
  fill: #f0bf5f;
}
.adventages__card__title {
  font-size: 16px;
  margin-bottom: calc(var(--adventages-cards-gap) / 2);
  color: #666;
}
.adventages__descr {
  font-size: 14px;
  color: #999;
}

/* feedback*/
.feedback__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback__swiper {
  width: 100%;
  height: 300px;
}

.feedback_content .swiper-button-next {
  right: -55px;
  color: #f0bf5f;
}

.feedback_content .swiper-button-prev {
  left: -55px;
  color: #f0bf5f;
}
.feedback_content {
  position: relative;
}
.feedback__swiper__arrows {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  height: 100%;
}
.feedback__card {
  padding: 30px;
  border-radius: 15px;
  background-color: #f3f3f3;
  cursor: grab;
  display: flex;
  justify-content: space-between;
}

.feedback__avatar {
  width: 30%;
  border-radius: 100%;
  overflow: hidden;
  /* border: 3px solid #f0bf5f; */
}
.feedback__content {
  padding-top: 30px;
  width: 65%;
}
.feedback__author {
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 3px solid #f0bf5f;
  max-width: max-content;
}
.feedback__text {
  font-size: 16px;
  line-height: 150%;
  color: #666;
}
.swiper-pagination-bullet-active {
  background-color: #f0bf5f;
}
.feedback__swiper__arrows .swiper-pagination {
  bottom: -30px;
}
/* footer */
footer {
  padding: 50px 0 0 0;
}
.footer__container {
  background-color: #333333;
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.footer_info {
  color: #ddd;
  font-size: 14px;
  width: calc(100% / 3);
  line-height: 180%;
}
.footer__logo svg {
  fill: #999;
  width: 120px;
}

.footer__contacts a {
  font-size: 14px;
  text-decoration: none;
  color: #cc9933;
  display: block;
}
.footer__contacts a:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .container {
    width: 700px;
  }
  .section:not(:first-child) {
    padding-top: 30px;
  }
  .section:not(:last-child) {
    padding-bottom: 30px;
  }

  .hero__container {
    flex-direction: column;
    align-items: center;
  }
  .hero__col {
    max-width: 100%;
    align-items: center;
    margin-bottom: 40px;
  }
  .hero_title,
  .hero__descr {
    text-align: center;
  }
  .contact__buttons--phone,
  .contact__buttons--email {
    justify-content: center;
  }
  .adventages__card {
    /* width: calc((100% - (var(--adventages-cards-gap) )) / 2); */
    width: 300px;
  }
  .hero__swiper .swiper-button-next,
  .hero__swiper .swiper-button-prev {
    top: 50%;
  }
  .hero__swiper .swiper-button-prev {
    left: -100px;
  }
  .hero__swiper .swiper-button-next {
    right: -100px;
  }
  .adventages__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .adventages__cards {
    justify-content: center;
  }
  .adventages__wrapper {
    padding: 30px 0;
  }
  .feedback__avatar {
    width: 150px;
    height: 150px;
  }
  .feedback__card {
    align-items: center;
  }
  .feedback__content {
    padding-top: 0;
  }
  .feedback_content .swiper-button-next {
    top: unset;
    bottom: -70px;
    right: 20%;
  }
  .feedback_content .swiper-button-prev {
    top: unset;
    bottom: -70px;
    left: 20%;
  }
  .feedback__container {
    padding-bottom: 42px;
  }
  .feedback__swiper__arrows .swiper-pagination {
    bottom: -50px;
  }
  footer {
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 300px;
  }
  .logo {
    height: 60px;
  }
  .hero_title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .hero__descr {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .contact__buttons--phone,
  .contact__buttons--email {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact__buttons--phone > *:not(:last-child),
  .contact__buttons--email > *:not(:last-child) {
    margin-right: 0;
  }
  .contact__buttons-btn {
    width: calc((100% - 20px) / 2);
    height: 60px;
  }
  .contacts__telephone,
  .contacts__email {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 0;
  }
  .contacts__email {
    order: 1;
  }
  .copy_email {
    order: 3;
  }
  .email-btn {
    order: 2;
  }
  .hero__swiper .swiper-button-next {
    right: 0;
    top: 120%;
  }
  .hero__swiper .swiper-button-prev {
    left: 0;
    top: 120%;
  }
  .hero__container {
    padding-bottom: 60px;
  }
  .adventages__card {
    width: 80%;
  }
  .section__title {
    font-size: 22px;
    margin-bottom: 28px;
  }
  .feedback__card {
    flex-direction: column;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .feedback__content {
    height: 100%;
    overflow: auto;
  }
  .feedback__avatar {
    display: none;
  }
  .feedback__content {
    color: #fff;

    width: 100%;
  }
  .feedback__text {
    color: #fff;
  }
  .feedback__text {
    font-size: 14px;
  }
  .andrei-card {
    background-image: url(../img/andrei.jpg);
  }
  .anna-card {
    background-image: url(../img/anna.jpg);
  }
  .dmitrii-card {
    background-image: url(../img/dmitrii.jpg);
  }
  .maria-card {
    background-image: url(../img/maria.jpeg);
  }
  .petr-card {
    background-image: url(../img/petr.png);
  }
  footer {
    padding-bottom: 0;
  }
  .footer__container {
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }
  .footer_info {
    width: 100%;
    text-align: center;
    order: 3;
    font-size: 8px;
    color: #999;
  }
  .footer__contacts {
    text-align: center;
    margin-bottom: 20px;
    order: 1;
  }
  .footer__logo {
    order: 2;
  }
  .hero__swiper {
    width: 200px;
    height: 266px;
  }
}
/* ui-kit */

.contacts__telephone,
.contacts__email {
  transition: border-color 0.1s ease-in-out;
}
.contacts__telephone:hover:not(:focus-visible),
.contacts__email:hover:not(:focus-visible) {
  border-color: #fae8c5;
}

.contacts__telephone::after,
.contacts__email::after {
  transition: border-color 0.1s ease-in-out;
}
.contacts__telephone:hover:not(:focus-visible)::after,
.contacts__email:hover:not(:focus-visible)::after {
  border-color: #f0bf5f;
}
.contact__buttons-btn {
  transition: background-color 0.1s ease-in-out;
}
.contact__buttons-btn:hover:not(:focus-visible) {
  background-color: #dfdfdf;
}
.swiper-button-prev,
.swiper-button-next {
  transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
}

.swiper-button-prev:not(.swiper-button-disabled):hover:not(:focus-visible),
.swiper-button-next:not(.swiper-button-disabled):hover:not(:focus-visible) {
  transform: scale(1.1);
}
.swiper-button-prev:not(.swiper-button-disabled):active:not(:focus-visible),
.swiper-button-next:not(.swiper-button-disabled):active:not(:focus-visible) {
  color: #bf8f30;
}

.doc_link {
  transition: background-color 0.1s ease-in-out;
}
.doc_link:hover:not(:focus-visible) {
  background-color: #dfdfdf;
}

.doc_link:active:not(:focus-visible) {
  background-color: #cfcfcf;
}
.footer__contacts a{
  transition: color .1s ease-in-out;
}
.footer__contacts a:hover:not(:focus-visible){
  color: #f0d092;
}

.footer__contacts a:active:not(:focus-visible){
  color: #ad8026;
}
